<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://java.sun.com/jsf/html"
      xmlns:t="http://primefaces.org/ui">

<h:head>
    <title>Bioinfo</title>
</h:head>

<h:body>

    <ui:composition template="../template/xtemplate.xhtml">

        <ui:define name="content">

            <h:form>
                <!--tree table-->

                <t:treeTable value="#{infoDate.workExperienceList}" var="workExperience">
                    <f:facet name="header">
                        Work Experience
                    </f:facet>
                    <p:column headerText="Id">
                        <h:outputText value="#{workExperience.id}"/>
                    </p:column>
                    <p:column headerText="Organization">
                        <h:outputText value="#{workExperience.org}"/>
                    </p:column>
                    <p:column headerText="Position">
                        <h:outputText value="#{workExperience.composition}"/>
                    </p:column>
                    <p:column headerText="Begin date">
                        <h:outputText value="#{workExperience.beginDate}"/>
                    </p:column>
                    <p:column>
                        <h:outputText value="#{workExperience.endDate}"/>
                    </p:column>
                    <p:column style="width:24px">
                        <p:commandLink update=":form:documentPanel" oncomplete="PF('documentDialog').show()"
                                       title="View Detail" styleClass="ui-icon ui-icon-search">
                            <f:setPropertyActionListener value="#{workResponsibilities}" target="#{workExperience.id}"/>
                        </p:commandLink>
                    </p:column>
                </t:treeTable>

                <!--<t:dialog id="dialog" header="Document Detail" showEffect="fade" widgetVar="documentDialog" modal="true"-->
                <!--resizable="false">-->
                <!--<t:outputPanel id="documentPanel">-->
                <!--<p:panelGrid columns="2" columnClasses="label,value"-->
                <!--rendered="#{not empty workResponsibilities.id}">-->
                <!--<h:outputLabel for="name" value="Name: "/>-->
                <!--<h:outputText id="name" value="#{workResponsibilities.description}"-->
                <!--style="font-weight:bold"/>-->

                <!--</p:panelGrid>-->
                <!--</t:outputPanel>-->
                <!--</t:dialog>-->

                <!--end of tree table-->
            </h:form>
        </ui:define>

    </ui:composition>

</h:body>

</html>
