<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Index</title>
</h:head>
<h:body>

    <ui:composition template="../template/index_template.xhtml">
        <ui:define name="center">
            <h:form>
                <p:panel header="Authorization">
                    <h:panelGrid columns="2" columnClasses="label, value">

                        <p:outputLabel value="Login"/>
                        <p:inputText id="login" value="#{user.login}"/>

                        <p:outputLabel value="Password"/>
                        <p:inputText id="password" value="#{user.password}"/>

                        <!--<p:commandButton id="buttonOk" value="Enter" action=""/>-->

                        <p:commandButton id="buttonOk" value="Ok" action="bioinfo" style="font-family: tahoma"/>
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>
