<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head></h:head>

<h:body>

    <h:form>

        <h:outputText value="Hello!"/>

        <!--<h3 style="margin-top:0">Menu</h3>-->
        <!--<p:menu>-->
            <!--<p:submenu label="Ajax">-->
                <!--<p:menuitem value="Save" action="index" update="messages" icon="ui-icon-disk"/>-->
                <!--<p:menuitem value="Update" action="index" update="messages" icon="ui-icon-arrowrefresh-1-w"/>-->
            <!--</p:submenu>-->
            <!--<p:submenu label="Non-Ajax">-->
                <!--<p:menuitem value="Delete" action="index" update="messages" ajax="false" icon="ui-icon-close"/>-->
            <!--</p:submenu>-->
        <!--</p:menu>-->

    </h:form>

</h:body>
</html>
