<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Main</title>
</h:head>

<h:body>

    <ui:composition template="../template/main_template.xhtml">

        <ui:define name="left">

            <h:form>

                <h3>Programmatic Menu</h3>
                <p:menu model=""/>

                <h3>Details</h3>
                <p:menu toggleable="true">
                    <p:submenu label="Ajax">

                        <p:menuitem value="Action" action="contact" update="messages" icon="ui-icon-disk"/>

                        <p:menuitem value="Index" action="index" update="messages" icon="ui-icon-arrowrefresh-1-w"/>
                    </p:submenu>
                    <!--<p:submenu label="Non-Ajax">-->
                        <!--<p:menuitem value="Delete" actionListener="" update="messages" ajax="false"-->
                                    <!--icon="ui-icon-close"/>-->
                    <!--</p:submenu>-->
                    <!--<p:submenu label="Navigations">-->
                        <!--<p:menuitem value="External" url="http://www.primefaces.org" icon="ui-icon-home"/>-->
                        <!--<p:menuitem value="Internal" outcome="/mobile/index" icon="ui-icon-star"/>-->
                    <!--</p:submenu>-->
                </p:menu>


            </h:form>

        </ui:define>

    </ui:composition>

</h:body>

</html>
