<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
    <title>Index Template</title>
</h:head>

<h:body>

    <p:layout fullPage="true" style="max-height: 200px">

        <!--<p:layoutUnit position="west" name="block1" style="width: 50%"></p:layoutUnit>-->
        <!--<p:layoutUnit position="east" name="block2" style="width: 50%"></p:layoutUnit>-->
        <p:layoutUnit position="center" style="width: 100%; align-content: center"><ui:insert name="center"></ui:insert></p:layoutUnit>

    </p:layout>

</h:body>
</html>
