<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head></h:head>

<h:body>

    <p:layout fullPage="true">

        <p:layoutUnit position="north" size="150" header="Top" collapsible="true">
            <h:outputText value="Top unit content."/>
        </p:layoutUnit>

        <p:layoutUnit position="south" size="100" header="Bottom" collapsible="true">
            <h:outputText value="South unit content."/>
        </p:layoutUnit>

        <p:layoutUnit position="west" size="25%" collapsible="true"></p:layoutUnit>

        <p:layoutUnit position="center" size="75%">
            <ui:insert name="content"></ui:insert>
        </p:layoutUnit>




    </p:layout>

</h:body>

</html>
